<div class="footercontainer">
    <div class="footerleft">
        <div class="footerlogo">
            <img src="https://res.cloudinary.com/codename24-cloud/image/upload/v1653537550/c24_hoojrs.png" alt="logo">
        </div>
        <div class="footerdesc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum delectus ab ullam similique quo. Quidem labore repudiandae expedita quos, veritatis, recusandae dolor, natus quasi odit aspernatur facere debitis omnis ex.
        </div>
        <div class="footersocialcontainer">
            <div class="footersocialicon">
                <i class="fa-brands fa-facebook-square"></i>

            </div>
            <div class="footersocialicon">
            
            <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="footersocialicon">
            <i class="fa-brands fa-twitter-square"></i>
            
            </div>
            <div class="footersocialicon">
            
            <i class="fa-brands fa-pinterest-square"></i>
            </div>
        </div>

    </div>
    <div class="footercenter">
        <div class="footercentertitle">
            Useful Links
        </div>
        <div class="footercenterlist">
            <div class="footercenterlistitem">Home</div>
            <div class="footercenterlistitem">Cart</div>
            <div class="footercenterlistitem">Mens's Fashion</div>
            <div class="footercenterlistitem">Women's Fashion</div>
            <div class="footercenterlistitem">Accessories</div>
            <div class="footercenterlistitem">My Account</div>
            <div class="footercenterlistitem">Order Tracking</div>
            <div class="footercenterlistitem">Wishlist</div>
            <div class="footercenterlistitem">Terms</div>
        </div>
    </div>
    <div class="footerright">
        <div class="footerrighttitle">Contact</div>
        <div class="footerrightcontactitem">
            <i class="fa-solid fa-location-dot"></i>&nbsp&nbsp&nbsp24 Codename Road , CDN 000024
        </div>
        <div class="footerrightcontactitem">
            <i class="fa-solid fa-phone"></i>&nbsp&nbsp&nbsp+91 9xxxxxxx03
        </div>
        <div class="footerrightcontactitem">
            <i class="fa-solid fa-envelope"></i>&nbsp&nbsp&nbspvijay@gmail.com
        </div>
        <div class="footerrightpayment">
            <img src="https://i.ibb.co/Qfvn4z6/payment.png"" alt="">
        </div>

    </div>

</div>