<div class="headercontainer">
    <div class="headerwrapper">
        <div class="headerleft">
            <div class="headerlanguage">
                EN
            </div>
            <div class="headersearchcontainer">
                <div class="headersearchcontainerinput">
                    
                </div>
            </div>
        </div>
        <div class="headercenter">
            <div class="headercenterlogo">CODENAME-24</div>
        </div>
        <div class="headerright">
            <div class="headerrightmenuitem">
                Hello, <br/>
            </div>
            <div class="headerrightmenuitem">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/"><i class="fa-solid fa-house"></i></a>
            </div>
            <div class="headerrightmenuitem">
                <a class="<%= path === '/products' ? 'active' : '' %>" href="/products"><i class="fa-solid fa-bag-shopping"></i></a>
            </div>
            <div class="headerrightmenuitem">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart"><i class="fa-solid fa-cart-plus"></i></a>
            </div>
        </div>
    </div>
</div>